<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ siteTitle|default('Prestaconcept') }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <!--<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <!--<link rel="stylesheet" href="plugins/iCheck/flat/blue.css">-->
    <!--&lt;!&ndash; Morris chart &ndash;&gt;-->
    <!--<link rel="stylesheet" href="plugins/morris/morris.css">-->
    <!--&lt;!&ndash; jvectormap &ndash;&gt;-->
    <!--<link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">-->
    <!--&lt;!&ndash; Date Picker &ndash;&gt;-->
    <!--<link rel="stylesheet" href="plugins/datepicker/datepicker3.css">-->
    <!--&lt;!&ndash; Daterange picker &ndash;&gt;-->
    <!--<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">-->
    <!--&lt;!&ndash; bootstrap wysihtml5 - text editor &ndash;&gt;-->
    <!--<link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition {{ siteSkin|default('skin-blue') }} sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="/" class="logo">
                {{ siteTitle|default('Prestaconcept') }}
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">DOCUMENTATION</li>
                    {% if navigation is defined %}
                        {% for key, item in navigation.items %}
                            <li{% if category is defined and key == category %} class="active"{% endif %}>
                                <a href="{{ item.url }}"><i class="fa pull-right fa-angle-left"></i>{{ item.label }}</a>
                                {% if item.items is defined %}
                                    <ul class="treeview-menu menu_level_1 menu-open" style="display: block;">
                                        {% for key, item in item.items %}
                                            <li{% if subCategory is defined and key == subCategory %} class="active"{% endif %}>
                                                <a href="{{ item.url }}"><i class="fa fa-angle-double-right"></i>{{ item.label }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {#<li class="treeview first active">            #}
                        {#<a href="#"><i class="fa fa-folder"></i><span>Level 1</span><i class="fa pull-right fa-angle-left"></i></a>                #}
                        {#<ul class="treeview-menu menu_level_1 menu-open" style="display: block;">#}
                        {#<li class="first">#}
                        {#<a href="/"><i class="fa fa-angle-double-right"></i>Level 1.1</a>#}
                        {#</li>#}
                        {#</ul>#}
                        {#</li>#}
                    {% endif %}
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ title }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li>{{ category }}</li>
                    {% if subCategory is defined %} {{ subCategory }} {% endif %}
                    <li class="active">{{ title }}</li>
                </ol>
            </section>
    
            <!-- Main content -->
            <section class="content">
                <div class="box">
                    <div class="box-body">
                        {{ content|raw }}
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/dist/js/app.min.js"></script>
    <script>
        $(document).ready(function(){
            $('table').addClass('table');
        });
    </script>
</body>
</html>
